# Ignore everything in /data
/data/*
/results/*
/outputs/*
/logs/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so

# Pytest cache
.pytest_cache/
.coverage
htmlcov/
*.cover
.hypothesis/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS files
.DS_Store
Thumbs.db